services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tatis_web
    command: gunicorn --bind 0.0.0.0:8000 --workers 2 --timeout 60 --reload tatisjr.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    stdin_open: true
    tty: true

volumes:
  static_volume:
  media_volume:
