black
diagrams
Django
django-admin-interface
django-csp
django-environ
django-extensions
django-health-check
django-permissions-policy
django-upgrade
djangorestframework
djhtml
flake8
freezegun
gunicorn
MLB-StatsAPI
pip-tools
pre-commit
psycopg[binary]
pyproject-flake8
pytest-cov
pytest-django
requests
slackclient
tryceratops
