name: Django CI

on:
  push:
    branches-ignore:
      - main
      - dev

jobs:

  build:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
    - name: psycopg3 prerequisites
      run: sudo apt-get install python-dev-is-python3 libpq-dev
    - name: Install dependencies
      run: uv pip install --system .
    - name: Run migrations
      run: python manage.py migrate
    - name: Load Fixtures
      run: |
        if [ -d "fixture" ]; then
            python manage.py loaddata fixture/*.json
        fi
    - name: Run tests
      uses: sjvrijn/pytest-last-failed@v2
      with:
        pytest-args: '--last-failed'
